* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ffe6f2, #ffd6eb);
    overflow: hidden;
}


.card {
    background: white;
    padding: 40px;
    border-radius: 25px;
    text-align: center;
    width: 400px;
    position: relative;
    box-shadow: 0 15px 50px rgba(255, 105, 180, 0.3);
}

.hidden {
    display: none;
}

.main-image {
    width: 200px;
    margin-bottom: 20px;
    border-radius: 20px;
}

h1 {
    margin-bottom: 25px;
    color: #e91e63;
}

/* BUTTONS */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    padding: 12px 30px;
    font-size: 18px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.2s ease;
}

.yes-btn {
    background: hotpink;
    color: white;
}

.yes-btn:hover {
    transform: scale(1.1);
}

.no-btn {
    background: lightgray;
    position: relative; 
}


.yay-text {
    font-size: 40px;
    margin-bottom: 20px;
    color: #ff1493;
}

.celebrate-image {
    width: 250px;
    border-radius: 20px;
}


#confettiContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    top: -10px;
    animation: fall linear forwards;
}

@keyframes fall {
    to {
        transform: translateY(110vh) rotate(720deg);
        opacity: 0;
    }
}
